body, h3 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.main {
    background-color: rgb(240, 240, 240);
    padding: 20px;
}

.header {
    background: cadetblue;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    line-height: 32px;
}

.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px;
    color: #fff;
    font-weight: 900;
}

.menu-link:hover {
    color: rgb(255, 227, 175);
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog-item {
    width: 260px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(224, 224, 224);
    margin: 10px;
    background: rgb(248, 248, 248);
}

#cart-btn {
    background: url(../img/shopping-cart.png);
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

#cart-btn:active {
    position: relative;
    top: 1px;
}

#user-cart {
    min-width: 200px;
    max-width: 450px;
    border: 1px solid rgb(219, 219, 219);
    background:rgb(241, 241, 241);
    position: absolute;
    right: 20%;
    top: 35px;
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
}

#cart-items {
    max-height: 80vh;
    overflow-y: auto;
}

#cart-close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.cart-title {
    margin: 0;
}

.cart-item {
    border: 1px rgb(206, 206, 206) solid;
    background: rgb(231, 231, 231);
    padding: 10px;
    margin: 10px 0;
}

.cart-item-point {
    display: block;
}

.cart-sum {
    display: block;
    width: 100%;
    font-size: 28px;
    margin: 10px 0;
}

.count-btn {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.goods-search {
    margin: 0 5px 0 20px;
}
